<body style="background-color:rgb(221, 167, 167); height:1200px">
<h1 class="text text-center">Manage The Products Here</h1>

<div class="container" >
<nav class="navbar navbar-expand-sm bg-primary navbarj-dark">
    <a class="nav-link" (click)="gotoAddProduct()">Add Product</a>
    <a class="nav-link" (click)="logout()" id="logout"  >Logout</a>
    <!-- <ul>
<li class="nav-item">
    <a class="nav-link" (click)="gotoAddProduct()">Add Product</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" (click)="logout()"  >Logout</a>
        </li>
</ul> -->
</nav><br>
<input

type="text"

name="name"

[(ngModel)]="productName"

(ngModelChange)="Search()"

placeholder="Enter here to search"

style="width: 50%; margin-bottom: 20px; margin-left: 10px"

/>

<h2>Product List</h2>
<table class="table table-striped">
    <thead>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Price</th>
        <th>StockCount</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.id}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stockCount}}</td>
            <td><button  class="btn btn-primary" (click)="gotoUpdateEmployee(product.id)">Update</button></td>
            <td><button class="btn btn-danger" (click)="gotoDelete(product.id)">Delete</button></td>
            </tr>
        </tbody>


</table>
</div>
</body>

