<div style="background-color: bisque; height: 1300px;">
<h2 class="text text-center">Cart Item List</h2>
<table class="table table-striped">
    <thead>
        <th>Cart Id</th>
        <th>Product Id</th>
        <th>Product Name</th>
        <th>Price For One</th>
        <th>Quantity</th>
        <th>User Id</th>
        <th>Actions</th>
    </thead>

    <tbody>
        <tr *ngFor="let cartitem of cartitems">
            <td>{{cartitem.id}}</td>
            <td>{{cartitem.productId}}</td>
            <td>{{cartitem.productName}}</td>
            <td>{{cartitem.price}}</td>
            <td>{{cartitem.quantity}}</td>
            <td>{{cartitem.user.userId}}</td>
            <td><button class="btn btn-danger" (click)="deleteItem(this.cartitem.id,this.cartitem.productId,this.cartitem.quantity)">Delete</button></td>
            </tr>
        </tbody>


</table>

<!-- button  class="btn btn-secondary">Total Price</button> -->
<button (click)="goToItems()" class="btn btn-primary" style="float: right;">GoToProdutList </button>
<h3>The Total Amount Is: {{price}}</h3><br><br>
<button class="btn btn-success"  (click)="ordercomplete()">Order Now</button>
<button (click)="download()" class="btn btn-success">Download</button>
</div>
